.archive-posts {
    width: 100%;
}

.archive-year {
    margin-top: 20px;
}

.archive-year-header {
    font-size: var(--h1size);
    font-weight: var(--bold);
}

.archive-year:not(:last-of-type) {
    border-bottom: 2px solid var(--tertiary);
}

.archive-month {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
}

.archive-month-header {
    margin: var(--textsize) 0;
    width: 150px;
    font-weight: var(--bold);
    font-size: var(--homesize);
}

.archive-entry {
    position: relative;
    padding: 15px var(--gap);
    margin: 10px 0;
    background: var(--entry-bg);
    border: var(--border);
    border-radius: var(--radius);
}

.archive-entry:hover {
    border: 2px solid var(--darkcolor);
}

.archive-entry-title {
    margin: 5px 0;
    font-weight: normal;
    font-size: var(--homesize);
}

.archive-count,
.archive-meta {
    color: var(--secondary);
    font-size: 14px;
}
